@page
@model ShiftsRazorClassLibrary.Areas.Shifts.Pages.IndexModel
@{
}

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-4">
        
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shifts[0].ShiftName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shifts[0].ShiftName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shifts[0].EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Shifts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ShiftID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ShiftID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ShiftID">Delete</a>
                    <form method="post">
                        <button asp-page="./Index" asp-page-handler="Delete"
                                asp-route-id="@item.ShiftID"
                                class="btn-danger" onclick="return confirm('Are you sure you want to delete this item?')">
                            Delete inplace
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>