@using X.Web.PagedList
@model DepartmentsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form method="get">
            <div class="form-group">
                <label asp-for="Keyword" class="control-label"></label>
                <input asp-for="Keyword" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<form method="post">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Departments[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departments[0].GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departments[0].ModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Departments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DepartmentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DepartmentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
                    
                        <button asp-action="Delete"
                                asp-route-id="@item.DepartmentId"
                                class="btn-danger" onclick="return confirm('Are you sure you want to delete this item?')">
                            Delete inplace
                        </button>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
</form>
@Html.PagedListPager(Model.Departments, page => Url.Action("Index", new { currentPage = page, Model.Keyword }))
