@page
@model RazorPageDemos.Areas.Employees.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.NationalIdnumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.NationalIdnumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LoginId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LoginId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.OrganizationLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.OrganizationLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.JobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.JobTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.MaritalStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.MaritalStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.SalariedFlag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.SalariedFlag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.VacationHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.VacationHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.SickLeaveHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.SickLeaveHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.CurrentFlag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.CurrentFlag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Rowguid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Rowguid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.BusinessEntity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.BusinessEntity.BusinessEntityId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee.BusinessEntityId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
